pandas
python-dotenv
sentence-transformers
faiss-cpu
torch
groq
openai
google-generativeai
tqdm
nltk

langchain-text-splitters
numpy
transformers
accelerate
bitsandbytes
pypdf
python-docx
beautifulsoup4
lxml
pdfminer
pdfminer.six
streamlit